body  {
    background: no-repeat url("/assets/background.jpg");
    background-color: #cccccc;
  }


  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .arrowButton {
  position: absolute;
  margin-top: 1000px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  }
