* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  --layout-spacing: max(8vh, 3em);
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: auto;
}

body > * + * {
  margin-top: var(--layout-spacing);
}

.bg {
  background-image: url("../assets/mariobros\ achtergrond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  text-shadow: 0 0 6px black;
  text-align: center;
}

.mushroom1 {
  margin-left: 15px;
  margin-top:45px;
}

.mushroom2 {
  margin-left: 15px;
  margin-top:45px;
}

.mushroom3 {
  margin-left: 15px;
  margin-top:45px;
}

.mushroom4 {
  margin-left: 15px;
  margin-top:45px;
}

main ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

main li {
  width: 5em;
  height: 5em;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

footer li {
  width: 5em;
  height: 5em;
  padding: 0;
}

/* MARIO LOOP ANIMATIE */
.marioGif {
  position: absolute;
  top: 65vh;
  width: 5vw;
  height: 10vh;
  z-index: 1;
  animation: marioGif linear infinite;
  animation-duration: 6.5s;
  z-index: -1;
}

.marioGif img {
  width: 100%;
}

@keyframes marioGif {
  0% {
    left: 0;
  }

  48% {
    transform: rotateY(0deg);
  }

  50% {
    left: 95%;
    transform: rotateY(180deg);
  }

  98% {
    transform: rotateY(180deg);
  }

  100% {
    left: 0;
    transform: rotateY(0deg);
  }
}


/* MOBILE */
@media only screen and (max-width: 480px) {
  .marioGif img{
    display: none;
  }
  .pipe{
    display: none;
  }
}

.pipe{
  width: 100%;
}


/* ------------- */
